@import 'tailwindcss';

@theme {
  --color-anon: #ff8899;
  --color-tomori: #77bbdd;
  --color-rikki: #7777aa;
  --color-soyo: #ffdd88;
  --color-rana: #77dd77;
  --color-mutsumi: #779977;
  --color-sakiko: #7799cc;
  --color-umiri: #335566;
  --color-uika: #bb9955;
  --color-nyamu: #aa4477;
}
